// -----------------------------------------//
// Menu & Navigation
// -----------------------------------------//
@import "./components/header/nav";
// -----------------------------------------//
// Hamburger Container
// -----------------------------------------//
@import "./components/header/menu";
// -----------------------------------------//
// Logo
// -----------------------------------------//
@import "./components/header/logo";
// -----------------------------------------//
// Cart
// -----------------------------------------//
@import "./components/header/cart";
// -----------------------------------------//
// Promo Message + Social banner
// -----------------------------------------//
@import "./components/header/promo";

header {
    background: $dark-black;
    background: linear-gradient(201deg, rgba(36,36,36,1) 0%, rgba(0,0,0,1) 100%);
    transition: .2s ease-in-out;
    


    .wrap {

        @media screen and (max-width: 767px){
            padding: 0 !important;
        }
    }
}

.svg-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#pseudo-header {
    display: grid;
    grid-template-columns: 1fr 140px 40px;
    grid-auto-rows: auto;
    grid-template-areas:
        "header-top-left header-top-mid header-top-right"
        "header-bottom-left header-bottom-mid header-bottom-right";
        transition: .2s ease-in-out;

    @media screen and (min-width: 400px){
        grid-template-columns: 1fr 140px 60px;
    }

    @media screen and (min-width: 767px){
        grid-template-columns: 1fr 2fr 160px;
        grid-template-rows: 1fr 0;
    }
}
