// tQ: page-specific mixins go here

.cart-banner {
    background-color: $dark-black;
    padding: 2vh;
}

// tQ: wrapper
.cart-wrapper {
    @media (min-width: 768px) {
        display: flex;
      }
}

// tQ: shopping cart
.cart-table {
    @include body-regular;
    padding: 2vh;
    flex-wrap: wrap;
}

.cart-table-header {
@media (max-width: 768px) {
    display: none;
  }
}

.cart-table-header, .order-summary-header {
    @include heading-regular;
    border-bottom: 2px solid $black;
    padding: 3vh 1vh 1vh 1vh;
    justify-content: space-between;
}

.cart-qty {
    padding: 1em;
}

.cart-table-cell {
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.cart-table-row {
    height: 200px;
    align-items: center;

    @media (max-width: 768px) {
        border-bottom: 2px solid $grey;
    }
}

.cart-table-row:last-child {
    border-bottom: none;
}

// tQ: sizing tbd
.cart-row-img {
    max-width: 60px;

    @media screen and (min-width: 500px){
        max-width: 170px;
    }

    @media screen and (min-width: 767px){
        max-height: 200px;
    }
}

.cart-table td, .cart-table-qty {
    justify-content: space-around;
}

a.button.plusminus {
    padding: 5px 8px;
}

.cart-table-prc {
    justify-content: space-between;
}

.cart-cell-ccy {
    text-align: left;
}

.cart-cell-prc {
    text-align: right;
}

// tQ: order summary
.order-summary {
    background-color: $light-black;
    color: $white;
    padding: 2vh;
}

.order-summary-header {
    border-bottom: 2px solid $white;
}

.icon-pencil-container {
    background-color: $white;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.3em 0.4em;

    &:hover {
        background-color: $grey;
    }
}

.icon-pencil-container-editmode {
    background-color: $grey;
}

#icon-pencil {
    display: inline-block;
    fill: $dark-black;
}

.order-summary-row, .order-summary-table {
    @include body-regular;
    padding: 3vh
}

.order-summary-row-cc {
    justify-content: space-between;
}

.summary-icon {
    padding-right: 2vh;
    width: 4vh;
}

.cart-cell-prc {
    text-align: right;
}

#cart-cell-tax-amt {
    color: $dark-ruby;
}

.order-summary-row-editmode {
    background-color: $grey;
}

.order-summary-row-invalid {
    color: $dark-ruby;
}

.order-submit-button-container {
    justify-content: center;
    align-items: center;
}