// Base Styles
body {
    background-color: #191919;
}

// Banner
#banner-img {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}

#banner-text {
    position: absolute;
}

#banner-img img {
    max-width:100%;
    max-height:100%;
}

// Items Header
#items-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

// Items
.item-title, .item-showcase-title {
    text-align: center;
    h4{
        font-style: italic;
    }
}

.item-title {
    h2 {
        padding: 2% 0;
    }
    h4 {
        padding-bottom: 2%;
    }
}

.item-showcase-title {
    padding: 2% 0;
}

.item-image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 200px;
        height: 200px;
    }
}

.btn-custom {
    font-family: 'Roboto', sans-serif;
    background-color: #519872;
    color: white;
    border: none;
    margin: 4% 0;

    &:hover{
        background-color: #3B5249;
        color: #DCDCDC;
    }

    &:focus {
        box-shadow: none;
    }
}

#first-item, #last-item {
    background-color: #2B2A2A;
}

.item-showcase .card {
    margin: 2%;
    text-align: center;
}

// Media Queries
@media screen and (min-width: 400px) {
        .showcase-btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .item-showcase {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
}

@media screen and (min-width: 767px) {
        .btn-custom {
            display: none;
        }

        .item-showcase {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
}

//   @media screen and (min-width: 1144px) {
//         h1 {
//             font-size: 100px;
//         }
//         h2 {
//             font-size: 48px;
//         }
// }